* {
	list-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    user-select:none;
}
html {
    height: 100%;
	width: 100%;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
    height: 100%;
	width: 100%;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-webkit-user-drag: none;
	-ms-content-zooming: none;
	touch-action: manipulation;
	word-wrap: break-word;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	user-select: text;
	-webkit-overflow-scrolling: touch;
}

#app{
    height: 100%;
    // overflow: scroll;
}
.flx {
	display: flex;
}
.flx-ce-ce{
	display: flex;
	align-items: center;
	justify-content: center;
}
.flx-ce-sta {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.flx-sta-sta {
    display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.flx-ce-end {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.flx-ce-even {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.flx-ce-bet {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flx-ce-wrap-bet {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
	justify-content: space-between;
}
.flx-start {
	display: flex;
	align-items: flex-start;
}

.flx-stretch-start {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
}
.flx-clm {
	display: flex;
	flex-direction: column;
}
.flx-clm-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.flx-clm-bet {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flx-clm-ce {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flx-clm-star-ce{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
    justify-content: center;
}
.flx-clm-ce-ce{
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}
.flx-row {
	display: flex;
	flex-direction: row;
}
.flx-row-ce {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.flx-1 {
	flex: 1;
}
.relative {
	position: relative;
}
.re-right-line {
	position: relative;
}
.re-right-line:after {
	display: block;
	height: 100%;
	content: " ";
	position: absolute;
	right: 0;
	top: 0;
	border-right: 0.6px solid rgba(221, 221, 221, 1);
	transform: scaleX(0.5);
}
.re-after-line {
	position: relative;
}
.re-after-line:after {
	display: block;
	width: 100%;
	content: " ";
	position: absolute;
	left: 0;
	bottom: 0;
	border-bottom: 0.6px solid rgba(221, 221, 221, 1);
	transform: scaleY(0.5);
}
.re-before-line {
	position: relative;
}
.re-before-line:after {
	display: block;
	width: 100%;
	content: " ";
	position: absolute;
	left: 0;
	top: 0;
	border-bottom: 0.6px solid rgba(221, 221, 221, 1);
	transform: scaleY(0.5);
}


textarea,input,select{
    -webkit-user-select:text !important;
    &:focus{
        outline: none;
    }
}
